html {
  font-size: 16px;
}

body {
  background: $bg-light;
  background: linear-gradient(
      90deg,
      rgb(215, 215, 215, 1) 0%,
      rgba(238, 238, 238, 1) 40%,
      rgba(238, 238, 238, 0) 100%
    ),
    radial-gradient(
      circle at top left,
      rgba(238, 238, 238, 1) 0%,
      rgba(238, 238, 238, 0) 70%,
      rgba(0, 173, 180, 1) 120%
    );
  color: $text-color;
  min-height: 100vh;
  font-family: $main-font;
}

h1 {
  font-family: $title-font;
  font-weight: 600;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  font-weight: 500;
}
