extends ../templates/template
block title
  title DGB Development - Artículo
block topbar
  -locals.pageActive='blog'
  include ../includes/topbar
block main
  #bg.blog__content
  .blog__container
    #blog__article.blog__article
