extends ../templates/template
block title
  title DGB Development - Blog
block topbar
  -locals.pageActive='blog'
  include ../includes/topbar
block main
  - let articles = true
  #bg.blog__content
  .blog__container
    if articles
      .blog__navbar
        .blog__order
          #blog__select.blog__select
            #select__title.select__title 
              span Ordenar
              i.fas.fa-angle-down(style="margin-left: auto")
            .select__option#descendant
              span Más recientes primero
            .select__option#ascendant
              span Más antiguos primero
        .blog__search
          form#blog__form.blog__form(action="" method="GET" autocomplete="off")
            input(type="text", name="article_search" id="article_search" placeholder="⌕" title="Buscar artículo")
      #blog__articles.blog__articles