extends ../templates/template
block title
  title DGB Development - Portafolio
block topbar
  -locals.pageActive='portafolio'
  include ../includes/topbar
block main
  section.projects
    h1.projects__title.primary Proyectos
    .projects__container


