extends ../templates/template
block title
  title DGB Development - Portafolio
block topbar
  -locals.pageActive='portafolio'
  include ../includes/topbar
block main
  section.projects
    h1.projects__title.primary Mis proyectos
    .projects__container
      .projects__card
        .card__front
        .card__back
      .projects__card
        .card__front
        .card__back
      .projects__card
        .card__front
        .card__back
      .projects__card
        .card__front
        .card__back