- locals.logos_frontend = [{ "filename": "html.svg", "name": "html" },{ filename: "css.svg", name: "css" },{ filename: "javascript.svg", name: "javascript" },{ filename: "angular.svg", name: "angular" },{ filename: "react.svg", name: "react" },{ filename: "webpack.svg", name: "webpack" },{ filename: "gulp.svg", name: "gulp" },{ filename: "pug.svg", name: "pug" },{ filename: "sass.svg", name: "sass"}]

- locals.logos_backend = [{ filename: "nodejs.svg", name: "node js" },{ filename: "mongodb.svg", name: "mongo db" },{ filename: "mysql.svg", name: "mysql"}]

- locals.logos_tools = [{ filename: "vscode.svg", name: "vs code" },{ filename: "git.svg", name: "git" },{ filename: "adobexd.svg", name: "adobe xd"}]

- locals.logos_games = [{ filename: "unity.svg", name: "unity" },{ filename: "csharp.svg", name: "c#" },{ filename: "blender.svg", name: "blender"}]