.btn {
  font-size: 1rem;
  background-color: $primary-color;
  padding: 1rem 2.5rem;
  border: none;
  color: $text-color;
  outline: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  &:hover {
    cursor: pointer;
  }
  &--danger {
    @extend .btn;
    background-color: $danger-color;
    &:hover {
      background-color: $cta-color;
    }
  }
  &--transparent {
    @extend .btn;
    background-color: transparent;
    border: 1px solid $primary-color;

    &:hover {
      border-bottom: 5px solid $primary-color;
      border-right: 5px solid $primary-color;
    }
  }
}
