//Background, contenedor principal y barra de navegacion
.blog__content {
  width: 100%;
  height: 200vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url("/assets/img/blog-bg.svg") no-repeat top center/cover;
}
.blog__container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  min-height: calc(100vh - 4rem);
  margin: 0 auto;
  background-color: $bg-color;
  box-shadow: 0 0 5px black;
  overflow: visible;
  // padding-top: 1.25rem;
}
.blog__navbar {
  width: 100%;
  position: fixed;
  top: 3.9rem;
  font-size: 0.7rem;
  background-color: $bg-color;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2rem 2em 2.5em;
  @include laptop {
    max-width: 1024px;
    left: 50%;
    font-size: 0.8rem;
    transform: translateX(-50%);
    padding: 0.5em 4rem 2em 4rem;
  }
  .blog__search,
  .blog__order {
    & .blog__form {
      font-size: 0.9em;
      & input[type="text"] {
        width: 3em;
        height: 3em;
        color: $text-color;
        border: 2px solid $primary-color;
        outline: none;
        padding: 0.75em 0.5em 0.75em 0.5em;
        border-radius: 7px;
        background-color: $bg-color;
        transition: width 0.3s;
        cursor: pointer;
        &::placeholder {
          color: $primary-color;
          font-size: 3em;
          transform: translateY(4px);
        }
        &:focus {
          width: 15em;
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }
    & .blog__select {
      width: 13em;
      height: 2.7em;
      color: $primary-color;
      border: 2px solid $primary-color;
      outline: none;
      padding: 0.75em 0.5em 0.75em 0.5em;
      border-radius: 7px;
      background-color: $bg-color;
      transition: width 0.3s;
      cursor: pointer;
      overflow: hidden;
      & .select__title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0.8em;
        & i {
          font-size: 1.2em;
        }
      }
      &--expanded {
        height: 7em;
      }
      & .select__option {
        color: $text-color;
        padding: 0.25em 0;
        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}

//*------------------ Artículos -------------------*

.blog__articles {
  font-size: 0.8rem;
  padding: 3rem 2rem;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: flex-start;
  // justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr;
  height: auto;
  column-gap: 1.5rem;
  place-items: stretch center;
  @include tablet {
    font-size: 1em;
    grid-template-columns: 1fr 1fr;
  }
  @include laptop {
    padding: 3rem 4rem;
    font-size: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  & h1 {
    width: 100%;
    color: $primary-color;
    text-align: center;
    grid-column: 1 / -1;
  }
  & > p {
    grid-column: 1 / -1;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  & hr {
    width: 100%;
    background-color: $primary-color;
    height: 2px;
    border: none;
    grid-column: 1 / -1;
  }
}
.article__container {
  width: 100%;
  max-width: 320px;
  margin-top: 1.25em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .article__img {
    & img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      object-position: center;
      border-radius: 7px 7px 0px 0px;
    }
  }
  & .article__title {
    & h2,
    h3 {
      font-weight: bold;
      margin: 0.25em 0;
    }
    & h2 {
      font-size: 1.3em;
      color: $primary-color;
    }
  }
  & .article__description p {
    margin: 0.35em 0;
    // text-align: justify;
    font-size: 0.95em;
  }
  & .article__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8em;
    & span {
      color: $light-gray;
    }
    & a {
      color: $text-color;
      background-color: $primary-color;
      border: none;
      outline: none;
      border-radius: 3px;
      padding: 0.25rem 0.75rem;
      transition: background-color 0.3s;
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

//*-------------Artículo desplegado------------------*//
.blog__article {
  width: 100%;
  font-size: 0.8rem;
  padding: 3em 2em;
  @include tablet {
    padding: 3em 5em;
    font-size: 1rem;
  }
  & .article__header {
    padding-bottom: 1.5em;
    & h1,
    & h2 {
      padding: 0;
      margin: 0;
    }
    & .article__title {
      color: $primary-color;
      padding-bottom: 1em;
    }
  }
  & .article__date {
    font-size: 0.8em;
    padding-bottom: 1em;
    color: $light-gray;
  }
  & .article__img img {
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
  }
  & .article__description {
    font-size: 1.2em;
    font-style: italic;
    padding-top: 1em;
    line-height: 1.5;
  }
  & .article__content {
    padding-top: 1.5em;
    & p {
      text-align: justify;
      line-height: 1.7;
    }
  }
}
