.under-construction {
  width: 100%;
  height: calc(100vh - 4rem);
  background: url("../assets/img/under-construction.jpg") no-repeat center
    center/cover;
}
.under-construction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
