.under-construction {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 4rem);
  background: url("/assets/img/under-construction.jpg") center center/cover;
}
.under-construction::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000088;
}
