:root {
  --primary-color: #00adb4;
  --secondary-color: #008288;
  --danger-color: #ff3c32;
  --cta-color: #fba905;
  --light-gray: #a7a7a7;
  --dark-color: #393d46;
  --darken-color: #212832;
  --bg-color: #15202b;
  --bg-light: #eeeeee;
  --text-color: #dadada;
  --text-grey: #4a4a4a;
  // filter: invert(1) hue-rotate(180deg);
}

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$danger-color: var(--danger-color);
$cta-color: var(--cta-color);
$bg-color: var(--bg-color);
$bg-light: var(--bg-light);
$light-gray: var(--light-gray);
$dark-color: var(--dark-color);
$darken-color: var(--darken-color);
$text-color: var(--text-color);
$text-grey: var(--text-grey);

@mixin bg-grey-gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(21, 32, 43, 1) 20%,
    rgba(21, 32, 43, 1) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
